@media only screen and (max-width : $phoneLandscapeViewportWidth) {

  footer {
    background: $color-footer;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 30px;

    p {
      margin-left: 20px;
      font-size: 10px;
      color: white;
    }
  }
}